/** Reset
==============================================================================*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/** Enable HTML5 for older browsers
==============================================================================*/
failureNotification
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/** Floats
==============================================================================*/
.announcementtable {
    margin: 0 auto;
    width: 950px;
    padding-bottom: 20px;
}

.announcementtable td {
    background-color: #EEE;
    border: 1px solid #DDD;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.announcementtable th {
    border: 1px solid #DDD;
    background-color: #666;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.footertable {
    margin: 0 auto;
    width: 1000px;
    background-color: #1e3763;
    color: #EEE;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
}

.footertable a {
    color: #EEE;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.footertable td {
    width: 200px;
    padding: 4px;
}

.footertable li {
    margin-left: 15px;
    list-style-type: square;
}

.lang td.white {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    padding: 2px;
}

.container {
    margin: 0 auto;
    width: 1000px;
    border: 1px solid #000;
    background-color: #FFF;
}

.mainContainer {
    margin: 0 auto;
    -- min-height: 500px;
    width: 1000px;
    border: 1px solid #000;
    background-color: #FFF;
}

.searchtable {
    width: 100%;
    background-color: #EEE;
}

.searchtable td {
    border: 1px solid #DDD;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.searchtable td.left {
    border: 1px solid #DDD;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.searchtable td.title {
    border: 1px solid #DDD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    background-color: #666;
    color: #FFF;
}

.searchtable th {
    border: 1px solid #DDD;
    background-color: #666;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.searchtable input[type="text"] {
    width: 300px;
    padding: 4px;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.searchtable select {
    width: 300px;
    padding: 4px;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.resultstable {
    width: 1000px;
    border: 0px solid #666;
    background-color: #EEE;
}

.resultstable th {
    width: auto;
    border: 1px solid #DDD;
    background-color: #666;
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
}

.resultstable td {
    width: auto;
    border: 1px solid #DDD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: none;
    padding: 10px;
}

.datatable {
    width: 1000px;
    border: 0px solid #666;
    background-color: #EEE;
}

.datatable th {
    border: 1px solid #DDD;
    background-color: #666;
    color: #FFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    text-align: left;
}

.datatable td {
    border: 1px solid #DDD;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: none;
    padding: 10px;
}

.datatable td.left {
    border: 1px solid #DDD;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: none;
    padding: 10px;
}

.datatable td.center {
    border: 1px solid #DDD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: none;
    padding: 10px;
}

.datatable input[type="text"] {
    width: 300px;
    padding: 4px;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.datatable select {
    width: 310px;
    padding: 4px;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.totaltable {
    width: 1000px;
    border: 0px solid #666;
    background-color: #EEE;
}

.totaltable td {
    border: 1px solid #DDD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

/** Table & Search Formatting
==============================================================================*/
.button_blue {
    margin-left: 3px;
    border: 1px solid #25729a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #3093c7;
    background-image: linear-gradient(top, #3093c7, #1c5a85);
}

.button_blue:hover {
    margin-left: 3px;
    border: 1px solid #1c5675;
    background-color: #26759e;
    background-image: linear-gradient(top, #26759e, #133d5b);
}

.button_grey {
    margin-left: 3px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image: linear-gradient(top, #d3d3d3, #707070);
}

.button_grey:hover {
    margin-left: 3px;
    border: 1px solid #a0a0a0;
    background-color: #bababa;
    background-image: linear-gradient(top, #bababa, #575757);
}

/** Buttons
==============================================================================*/
nav .left {
    float: left;
}

nav .right {
    float: right;
}

/** Nav
==============================================================================*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    background: #CCC;
    margin: 0 auto;
}

nav {
    height: 29px;
    margin: 0px;
    background: #eee;
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #fefefe);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e6e6e6));
    border: 1px solid #ccc;
}

nav.rounded {
    -o-border-radius: 5px;
    -icab-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

nav li {
    float: left;
    display: block;
    border-left: 1px solid #1e3763;
    border-right: 1px solid #009bd8;
}

nav#dark li {
    border-left: 1px solid #009bd8;
    border-right: 1px solid #1e3763;
}

nav li:first-child {
    border-left: none;
}

nav li:last-child,
nav#dark li:last-child {
    border-right: none;
}

nav li a {
    float: left;
    display: block;
    color: #34546F;
    padding: 6px 14px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
}

nav#dark li a {
    color: #FFF;
    border-bottom: 1px solid #000;
    text-shadow: 0 1px 1px #000;
}

nav li a:hover {
    background: #dfdfdf;
    background: -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #eee);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#dfdfdf));
}

nav li.drop,
nav li.drop li {
    position: relative;
}

nav li.drop a {
    padding-right: 30px;
}

nav ul > li.drop {
    background: url(../images/arrows/b_arrow_down.png) no-repeat right;
}

nav#dark ul > li.drop {
    background: url(../images/arrows/l_arrow_down.png) no-repeat right;
}

nav ul > li.drop > a:hover,
nav ul > li.drop:hover > a {
    position: relative;
    background: #dfdfdf;
    background: url(../images/arrows/b_arrow_down.png) no-repeat right, -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #eee);
    background: url(../images/arrows/b_arrow_down.png) no-repeat right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#dfdfdf));
}

nav#dark ul > li.drop > a:hover,
nav#dark ul > li.drop:hover > a {
    position: relative;
    background: #00CC33;
    background: -moz-linear-gradient(100% 100% 90deg, #009bd8, #1e3763);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#009bd8), to(#1e3763));
}

nav ul li.drop li.drop,
nav ul > li.drop li.drop:hover > a {
    background: url(../images/arrows/b_arrow_right.png) no-repeat right;
}

nav#dark ul li.drop li.drop,
nav#dark ul > li.drop li.drop:hover > a {
    background: url(../images/arrows/l_arrow_right.png) no-repeat right;
}

nav ul > li.drop li.drop:hover > a {
    background: #dfdfdf;
    background: url(../images/arrows/b_arrow_right.png) no-repeat right, -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #eee);
    background: url(../images/arrows/b_arrow_right.png) no-repeat right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#dfdfdf));
}

nav#dark ul > li.drop li.drop:hover > a {
    background: url(../images/arrows/l_arrow_down.png) no-repeat right #000;
    background: url(../images/arrows/l_arrow_right.png) no-repeat right, -moz-linear-gradient(100% 100% 90deg, #003f5f, #025d8c);
    background: url(../images/arrows/l_arrow_right.png) no-repeat right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#025d8c), to(#003f5f));
}

nav li .menu {
    display: none;
}

nav li:hover .menu,
nav li .menu ul {
    width: 180px;
    background: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

nav li:hover .menu {
    display: block;
    position: absolute;
    top: 29px;
}

nav li:hover .menu ul {
    display: none;
}

nav li.drop li.drop:hover ul {
    display: block;
}

nav li .menu ul {
    position: absolute;
    top: -1px;
    left: 179px;
}

nav#dark li:hover .menu,
nav#dark li .menu ul {
    background: #333;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

nav.rounded .menu,
nav.rounded .mega-menu {
    -o-border-radius-bottomleft: 5px;
    -icab-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomright: 5px;
    -icab-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomright: 5px;
}

nav .menu li {
    float: none;
    border-right: none !important;
}

nav .menu a,
nav#dark menu a {
    display: block;
    float: none;
    border-bottom: 0;
}

nav .menu li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dfdfdf;
}

nav#dark .menu li {
    border-top: 1px solid #777;
    border-bottom: 0;
}

nav .menu li:last-child {
    border-bottom: none;
}

/** Mega Menu
==============================================================================*/

nav h3 {
    font-size: 18px;
    line-height: 1.2em;
}

nav .singlecol,
nav .twocol,
nav .threecol {
    margin: 0 24px 0 0;
}

nav .singlecol.last,
nav .twocol.last,
nav .threecol.last {
    margin: 0;
}

nav .singlecol {
    width: 182px;
}

nav .twocol {
    width: 364px;
}

nav .mega-menu.twocol {
    width: 388px;
}

nav .threecol {
    width: 549px;
}

nav .mega-menu.threecol {
    width: 594px;
}

nav .fourcol {
    width: 800px;
}

nav li .mega-menu {
    display: none;
}

nav li:hover .mega-menu {
    padding: 24px;
    background: #eee;
    background: -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #eee);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#dfdfdf));
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

nav#dark li:hover .mega-menu {
    background: #333;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

nav li:hover .mega-menu {
    display: block;
    position: absolute;
    top: 29px;
}

nav li .mega-menu li.heading {
    text-transform: uppercase;
    margin-bottom: 8px;
    text-shadow: 0 1px 1px #fff;
}

nav#dark li .mega-menu li.heading {
    color: #ccc;
    text-shadow: 0 1px 1px #000;
}

nav li .mega-menu li,
nav li .mega-menu li a,
nav#dark li .mega-menu li,
nav#dark li .mega-menu li a {
    float: none;
    background: none;
    border: none;
}

nav li .mega-menu li a {
    border-bottom: 1px solid #ccc;
}

nav#dark li .mega-menu li a {
    border-bottom: 1px solid #000;
}

nav li .mega-menu li a:hover {
    border-bottom: 1px solid #fff;
}

nav#dark li .mega-menu li a:hover {
    border-bottom: 1px solid #666;
}

nav .mega-menu iframe {
    border: 1px solid #ccc;
}

/** START LOGIN BOX CSS FORMATTING **/
#login-box {
    width: 400px;
    height: 350px;
    padding: 20px 20px 20px 20px;
    color: #000;
    font: 12px Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#login-box img {
    border: none;
}

#login-box h2 {
    padding-bottom: 5px;
    margin: 0;
    color: #000;
    font: bold 32px "Calibri", Arial;
}

#login-box-name {
    float: left;
    display: inline;
    width: 100px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin: 0 0 7px 0;
}

#login-box-field {
    float: left;
    display: inline;
    width: 230px;
    margin: 0;
    margin: 0 0 7px 0;
}

.form-login {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #000;
    background-color: #EEE;
    font-size: 16px;
    color: #000;
}

.login-box-options {
    clear: both;
    padding-left: 87px;
    font-size: 11px;
}

.login-box-options a {
    color: #CC0000;
    font-size: 11px;
}

.tdgap {
    background-color: BLACK;
    width: 1px;
}

.ErrorMessage {
    color: Red;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
}

.SuccessMessage {
    color: Green;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}

.modalPopupTitleBar {
    background-color: Blue;
    border-width: 0px;
    border-style: outset;
    border-color: Blue;
    padding: 3px;
    height: 15px;
    color: White;
    font-weight: bold;
    border-bottom: outset 2px;
}

/** END LOGIN BOX CSS FORMATTING **/
